In [10]:
import json
import pandas as pd
import numpy as np

import re

from sqlalchemy import create_engine
import psycopg2

from config import db_password

import time

datafile_dir = '/Users/lukeperrin/Documents/UCB Data Bootcamp/github-repositories/08-movies-ETL-lukeperrin/data/'


# 1. Create a function that takes in three arguments;
# Wikipedia data, Kaggle metadata, and MovieLens rating data (from Kaggle)

def extract_transform_load():
    # 2. Read in the kaggle metadata and MovieLens ratings CSV files as Pandas DataFrames.
    kaggle_metadata = pd.read_csv(f'{datafile_dir}movies_metadata.csv', low_memory=False)
    ratings = pd.read_csv(f'{datafile_dir}ratings.csv')

    # 3. Open the read the Wikipedia data JSON file.
    with open(f'{datafile_dir}/wikipedia-movies.json', mode='r') as file:
        wiki_movies_raw = json.load(file)
    
    # 4. Read in the raw wiki movie data as a Pandas DataFrame.
    wiki_movies_df = pd.DataFrame(wiki_movies_raw)
    # 5. Return the three DataFrames
    return wiki_movies_df, kaggle_metadata, ratings

# 6 Create the path to your file directory and variables for the three files. 

# Wikipedia data
wiki_file = f'{datafile_dir}/wikipedia_movies.json'
# Kaggle metadata
kaggle_file = f'{datafile_dir}/movies_metadata.csv'
# MovieLens rating data.
ratings_file = f'{datafile_dir}/ratings.csv'

# 7. Set the three variables in Step 6 equal to the function created in Step 1.
wiki_file, kaggle_file, ratings_file = extract_transform_load()

In [11]:
# 8. Set the DataFrames from the return statement equal to the file names in Step 6. 
wiki_movies_df = wiki_file
kaggle_metadata = kaggle_file
ratings = ratings_file

In [12]:
# 9. Check the wiki_movies_df DataFrame.
wiki_movies_columns = wiki_movies_df.columns().to_list()
wiki_movies_columns

TypeError: 'Index' object is not callable

In [ ]:
# 10. Check the kaggle_metadata DataFrame.
kaggle_metadata.head()

In [7]:
# 11. Check the ratings DataFrame.
ratings

          userId  movieId  rating   timestamp
0              1      110     1.0  1425941529
1              1      147     4.5  1425942435
2              1      858     5.0  1425941523
3              1     1221     5.0  1425941546
4              1     1246     5.0  1425941556
...          ...      ...     ...         ...
26024284  270896    58559     5.0  1257031564
26024285  270896    60069     5.0  1257032032
26024286  270896    63082     4.5  1257031764
26024287  270896    64957     4.5  1257033990
26024288  270896    71878     2.0  1257031858

[26024289 rows x 4 columns]